body{
font:15px/1.5 Arial, Helvetica, sans-serif;
margin:0;
padding: 0;
background-color: #cbe7f7;
}


/*GLOBAL*/
.container{
width: 80%;
margin:auto;
overflow:hidden;
}


/*HEADER*/
header {
	/*font-size: 20px;*/
border-bottom: solid #e6d9d9;
min-height: 70px;
padding-top: 30px;
color:#000000;
background: #dad1ad;
min-height:70px; 

}


header a{
text-decoration: none;
color:#000000;
text-transform: uppercase;
font-size: 20px;

}
header ul{
margin: 0;
padding:0;

}

header li {
margin: 0;
padding: 0;
float: left;
padding:0 20px 0 20px;
display:inline;
}

header #branding {
float: left;
}

header #branding h1{
margin: 0;
}
header nav{
	float: right;
margin-top: 10px;

}

header .highlight, header .current a{
color:#000000;
font-weight: bold;
font-size: 20px;
}




header a:hover{
color:azure;
font-weight: bold;

}
li.current:hover{

color:azure;
font-weight: bold;

}

.dark{

background: #2d3b42;
width: 100%;
padding-right: 2em;
padding-left: 2em;

}

.grey{
	border-radius: 20px;
background: #483d8b;
padding-left: 3em;

}
p.dark{
	border-radius: 20px;
padding-right: 3em;

}

p{
color:white;
}
p:hover{
color:#80ada3;


}

/*SHOWCASE*/

#showcase{
min-height: 400px;
background: url("../images/img.jpg") no-repeat 0; -400px;
background-size: cover;
opacity:1;

}


#showcase h1{
	color:#e4d4a3;
margin-top: 100px;
font-size: 55px;
margin-bottom: 10px;
}

#showcase h1:hover{
	color:#80ada3;
}

#showcase p{


	font-size: 20px;
}

#newsleter{
padding:15px;
color:#ffffff;
background: #0d191f;

}
#newsleter h1{
float: right;
}

#newsleter form{
float: right;
}

#newslater input[type="email"]{
padding: 4px;
height: 25px;
width:240px;

}

#boxes{
margin-top: 20px;

}

#boxes .box{
width: 30%;
	float:left;
	padding: 10px;
	text-align: center;
}


h2{
color: #000000;

}
h2:hover{
color: grey;

}

h3{
color: #000000;
transition:3s

}
h3:hover{
color: grey:;

}

a:-webkit-any-link {
color:#000000;
text-decoration: none;
}

a:-webkit-any-link:hover


/*SIDEBAR*/

aside#sidebar{
float: right;
width: 30%;
margin-top: 10px;

}


/*maincol*/


article#main-col{
	/*background: #d2e3ec;*/
padding-right:2em;	
float: left;
width: 65%;

}

footer{
padding:20px;
margin-top:20px;
color:#ffffff;
background-color:#34424a;
text-align: center;


}
